# Keil library files and build artifacts
/DebugConfig
/lib
/Listings
/Objects
/RTE
/Drivers/DebugConfig
/Drivers/lib
/Drivers/Listings
/Drivers/Objects
/Drivers/RTE
/Drivers/.*
/Drivers/*/.*
/Drivers/*/lib/.*
/Drivers/*/test/.*
/Drivers/SPI_project.uvguix.Nick
/Drivers/SPI_project.uvoptx
/Drivers/SPI_project.uvprojx

# Keil uVision files
/*.uvguix.Nick
/*.uvoptx
/*.uvprojx

# Windows files
/*.TMP